/* Reset Styles for Consistency */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	}
html {
	-webkit-text-size-adjust: 100%;
}
html, body {
	font-size: 110%;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #444444;
	background-color:transparent;
	overflow: hidden;
	}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	}
div#hmpageheader {
	position: absolute;
	top: 0; left: 0.313rem; right: 0.313rem;
	background-color: transparent;
	}
div#hmpagebody {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: transparent;
	overflow-x: hidden;
	overflow-y: scroll;
	border-style: solid;
	border-color: transparent;
	border-width: thin;
	border-radius: 0.5rem 0 0 0.5rem;
	padding: 0;
	margin: 0 0 0 0;
	-webkit-overflow-scrolling: touch;
	}

p#tocnavbar { display: table-cell;}

/* General */
.desktop {
	display: none !important;
	}
.phone {
	display: none !important;
	}
.noscript { 
	display: none !important;
	}
.scripted {
	
	}
.tablet {
	
	}
.desk_tablet {
	
	}

.navbar { font-size: 120%; }

h1.toc_title {
	position: relative;
	text-align: center;
	left: 2px; right: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.100rem;
	color: #444444;
	font-weight: 500;
	margin: 0 0 5px 3px;
	padding: 0;
	border-bottom: 1px solid #444444;
	}

/* TOC LIST CSS */
div#hmtoctree {
	position: relative;
	left: 2px; right: 2px; bottom: 0;
	font-size: 0.950rem;
	padding-top: 5px;
	}
ul#toc { 
	padding: 0; 
	margin: 0 6px 0 0;
	list-style-type: none;
	}
ul#toc ul { 
	list-style-type: none;
	}
ul#toc li { 
	cursor: pointer;
	padding: 0;
	background-repeat: no-repeat;
	}

ul#toc li a:link, ul#toc li a:visited {
	color: #444444;
	}
ul#toc li a:hover {
	background-color: #e5e5e5;
	border: thin dashed #444444;
	}
ul#toc li a.current {
	background-color: #e5e5e5;
	border: thin dashed #444444;
	color: #000000;
	}
ul#toc li a.current:hover {
	border: thin dashed #000000;
	}

ul#toc li > a {
	display: block;
	padding: 0.143rem 0 0.143rem 1.850rem;
	background-repeat: no-repeat;
	background-position: 0.5rem 0.205rem;
	background-size: 1.1rem;
	text-decoration: none;
	border: thin solid transparent;
	border-radius: 5px;
	}
ul#toc li.lv2 a {
	background-position: 1.2rem 0.205rem;
	padding-left: 2.59rem;
	}

ul#toc li.lv3 a {
	background-position: 2rem 0.205rem;
	padding-left: 3.39rem;
	}
ul#toc li.lv4 a {
	background-position: 2.70rem 0.205rem;
	padding-left: 4.15rem;
	}
ul#toc li.lv5 a {
	background-position: 3.4rem 0.205rem;
	padding-left: 4.85rem;
	}
ul#toc li.lv6 a {
	background-position: 4.2rem 0.19rem;
	padding-left: 5.68rem;
	}
ul#toc li.lv7 a {
	background-position: 4.9rem 0.22rem;
	padding-left: 6.25rem;
	}
ul#toc li.current {
	z-index: 10000;
	}

ul#toc ul { 
	
	}
	
/* TOC LIST CSS */
